html {
  margin: 0;
  padding: 0;
  font-size: 16px; /* = 1rem */
}
body {
  margin: 0;
  padding: 0;
}

iframe {
  margin: 0;
  border: 1px solid black;
  padding: 0;
  position: absolute;
  top: 1rem;
}

iframe#prev {
  left: 1vw;
  width: 20vw;
  height: 20vh;
}
iframe#curr {
  left: 22vw;
  width: 56vw;
  height: 56vh;
}
iframe#next {
  right: 1vw;
  width: 20vw;
  height: 20vh;
}

button {
  display: block;
  position: absolute;
  top: calc(56vh + 2rem);
  margin: 0;
  border: 1px solid black;
  width: 20vw;
  padding: 0 0.5rem;
  background: #EEE;
  line-height: 2rem;
  width: 20vw;
}

button:hover, button:focus {
  background: #DDD;
}
button:active {
  background: #CCC;
}

button#btn-prev {
  left: 22vw;
}
button#btn-next {
  right: 22vw;
}
